name: Docker build

on:
  push:
    paths-ignore:
      - 'webhook/**'

permissions:
  contents: read

jobs:
  build:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Docker build
      run: docker build .
