---
name: Build and test

on:
  push:
    paths:
      - 'webhook/**'
      - '.github/workflows/**'

permissions:
  contents: read

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: webhook/go.mod
      - name: go test
        working-directory: webhook
        run: go test --verbose -race -cover -covermode=atomic ./...
